.hover-rotate:hover img {
    transform: rotate(45deg);
    transition: transform 0.3s ease;
  }
.realisation-card {
    position: relative;
  }
.realisation-card:hover .card-overlay {
    opacity: 1;
  }
.realisation-card:hover .custom-cursor {
    display: block;
  }
.fixed-s {
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
    font-size: 30rem;
    color: rgba(0, 0, 0, 0.05);
    pointer-events: none;
  }
#white-button {
    color : #000;
    background-color: #ffffff;
  }
/* Custom Cursor */
body {
  cursor: default; /* Set default cursor */
}

a {color : #D2B48C;
   text-decoration: underline;}

   @font-face {
    font-family: 'Fragments';
    font-weight: 400;
    src: url(‘assets/fonts/PPFragment-GlareRegularItalic.woff2’) format(‘woff2’),
      url(‘assets/fonts/PPFragment-GlareRegularItalic.ttf’) format(‘truetype’)
  }
  montreal-medium {
    font-family: 'montreal';
    font-weight: 700;
    src: url(‘assets/fonts/montreal-medium.woff2’) format(‘woff2’),
      url(‘assets/fonts/montreal-medium.ttf’) format(‘truetype’)
  }

  em{
    font-family: 'Fragments';
    font-weight: 700;
  }

  p{
    font-family: "montreal";
    font-weight: 700;
  }